html,
body,
div,
span,
applet,
object,
iframe,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
body header nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 4rem;
  margin-bottom: 2rem;
}
body header nav .active {
  font-weight: bolder;
  text-shadow: 2px 3px 2px black;
}
body header nav a:nth-last-child(3) {
  display: flex;
  justify-content: center;
  border-right: 0.1em solid black;
  color: black;
  font-size: 1.7rem;
  text-decoration: none;
  width: 6rem;
  height: 2rem;
}
body header nav a:nth-last-child(2) {
  display: flex;
  justify-content: center;
  border-right: 0.1em solid black;
  color: black;
  font-size: 1.7rem;
  text-decoration: none;
  width: 6rem;
  height: 2rem;
}
body header nav a:nth-last-child(1) {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: black;
  font-size: 1.7rem;
  width: 6rem;
  height: 2rem;
}
body section,
body .title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
body section #bgimg,
body .title-container #bgimg {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70rem;
  height: 50rem;
  background-image: url("/assets/Alfred-Sisley.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
body section #bgimg h1,
body .title-container #bgimg h1 {
  display: flex;
  flex-direction: space-between;
  color: white;
  justify-content: center;
  align-content: center;
  margin-top: 11rem;
  width: 100%;
  height: 100%;
  font-size: 6rem;
}
body section #bgimg button,
body .title-container #bgimg button {
  display: flex;
  flex-direction: space-between;
  align-content: center;
  width: 10%;
  height: 10%;
  margin-bottom: 19rem;
}
