html,
body,
div,
span,
applet,
object,
iframe,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body hr {
  margin-top: 4vh;
  margin-bottom: 4vh;
}
body header nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 4rem;
  margin-bottom: 2rem;
}
body header nav .active {
  font-weight: bolder;
  text-shadow: 2px 3px 2px black;
}
body header nav a:nth-last-child(3) {
  display: flex;
  justify-content: center;
  border-right: 0.1em solid black;
  color: black;
  font-size: 1.7rem;
  text-decoration: none;
  width: 6rem;
  height: 2rem;
}
body header nav a:nth-last-child(2) {
  display: flex;
  justify-content: center;
  border-right: 0.1em solid black;
  color: black;
  font-size: 1.7rem;
  text-decoration: none;
  width: 6rem;
  height: 2rem;
}
body header nav a:nth-last-child(1) {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: black;
  font-size: 1.7rem;
  width: 6rem;
  height: 2rem;
}
body section,
header section,
body .title-container,
header .title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
body section #bgimg,
header section #bgimg,
body .title-container #bgimg,
header .title-container #bgimg {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70vw;
  height: 90vh;
  background-image: url("/assets/Alfred-Sisley.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
body section #bgimg #h1conid,
header section #bgimg #h1conid,
body .title-container #bgimg #h1conid,
header .title-container #bgimg #h1conid {
  display: flex;
  flex-direction: space-evenly;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* Cant get the h1 information to center align 
                just like how the button is doing with its text h1 wont do it too*/
}
body section #bgimg #h1conid .h1con,
header section #bgimg #h1conid .h1con,
body .title-container #bgimg #h1conid .h1con,
header .title-container #bgimg #h1conid .h1con {
  width: 40vw;
  height: 30vh;
}
body section #bgimg #h1conid h1,
header section #bgimg #h1conid h1,
body .title-container #bgimg #h1conid h1,
header .title-container #bgimg #h1conid h1 {
  display: flex;
  flex-direction: space-evenly;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  color: white;
  font-size: 6rem;
}
body section #bgimg button,
header section #bgimg button,
body .title-container #bgimg button,
header .title-container #bgimg button {
  display: flex;
  flex-direction: space-between;
  width: 12vw;
  height: 18vh;
  font-size: 2.9rem;
  align-content: center;
}
body section,
body .artists-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
body section .artist,
body .artists-container .artist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 36vw;
  height: 100vh;
  border: 1px solid green;
}
body section .artist img,
body .artists-container .artist img {
  border-radius: 4%;
  width: 30vw;
  height: 50vh;
}
body section .artist a,
body .artists-container .artist a {
  margin: 2vh 0vw 2vh 0vw;
  font-size: 1.4rem;
  text-decoration: none;
  color: black;
}
body section .artist .bio,
body .artists-container .artist .bio {
  width: 30vw;
  height: 20vh;
}
